DATABASE_HOST="localhost"
DATABASE_PORT="3306"
DATABASE_NAME="udNodeJs"
DATABASE_USERNAME="udNodeJs"
DATABASE_PASSWORD="udNodeJs"
DATABASE_ROOT_USERNAME="root"
DATABASE_ROOT_PASSWORD="%root%pass%word%"
DATABASE_SSL=false
MONGODB_DEFAULT_PORT_NUMBER="27017"
# gmail
EMAIL_USER="example@example.com"
EMAIL_PASSWORD="your_password"
